services:
  db:
    image: postgres:17
    ports:
      - 5432:5432
    volumes:
      - ../bookmarket-db-data:/var/lib/postgresql/data
    env_file:
      - ./apps/server/.env
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'bokdol', '-d', 'bookmarket']
      interval: 10s
      timeout: 5s
      retries: 5

  server:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    ports:
      - 8000:8000
    env_file:
      - ./apps/server/.env
    depends_on:
      db:
        condition: service_healthy

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - 5000:3000
    env_file:
      - ./apps/web/.env
    depends_on:
      - server
